@media screen and (max-width: 400px) {
	.pattern {
		height: 100%;
	}
}

$mainWhite: rgba(255, 255, 255, 0.7);

html{
     height:100%;
     min-height:100%;
     }

body{
     min-height:100%;
     color: $mainWhite;
     font-family: 'Lato', sans-serif;
     }

@import url(http://fonts.googleapis.com/css?family=Lato:400,900,300italic);
@import url(http://fonts.googleapis.com/css?family=Arapey:400italic);


@mixin stickyback {
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}

@mixin boxStyle {
	border-style: solid;
	border-width: 10px;
	border-color: $mainWhite;
}

@mixin vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h1 {
	font-weight: 900;
	font-size: 3.5em;
	line-height: 1em;
	margin: 10px;
}     

h2 {
	font-family: 'Arapey', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 2.5em;
	margin: 0;

}

.pattern {
	height: 100vh;	
	@include stickyback;
}

#theWrapper {

}

#about {
	@include stickyback;
	background-color: rgba(26,188,156,1);
	padding: 50px;	
		.content {
		@include boxStyle;
		#bio {
			padding: 50px;
		}
	}
}

.mini {
	/* border-color: rgba(255, 255, 255, 0.9); margin: 0 0 4vh 0; */
	height: 135px;
	padding: 20px;
}

#container2 {
	p {
		text-align: center;
		.fa {
			color: $mainWhite;
			margin: 0 10px 0 10px;
		}
	}	
}

#bio {
	padding: 40px;
	height: 300px;
	margin-bottom: 30px;
	max-width: 700px;
	.text {
		@include vertical;
	}
	p {
		font-size: 1.2em;
	}
}

#contact {
	margin-bottom: 30px;
	p {
		@include vertical;
	}
}

#other {
	p {
		@include vertical;
	}
}

#p1 {
	background-image: url(../img/lines3.png);
	padding: 20%;
	color: white;
	#welcome { 
		@include vertical;
		@include boxStyle;
		padding: 50px 30px 50px 30px;
		text-align: center;
	}
};

#p2 {
	background-image: url(../img/Booze-Goggles.png);
};

#p3 {
	background-image: url(../img/Citrus.png);
};

#p4 {
	background-image: url(../img/City-Pattern.png);
};

#p5 {
	background-image: url(../img/Rain.png);	
};

#p6 {
	background-image: url(../img/Wheat-Pattern.png);
};

#p7 {
	background-image: url(../img/Trees.png);
};

#p8 {
	background-image: url(../img/Wood.png);
};

#p9 {
	background-image: url(../img/sea.png);	
};

#p10 {
	background-image: url(../img/linez.png);
};

#p11 {
	background-image: url(../img/70s.png);
};

#p12 {
	background-image: url(../img/lines.png);
};

#p13{
	background-image: url(../img/lines2.png);
};

#p14 {
	background-image: url(../img/hex.png);
};

#p15 {
	background-image: url(../img/hexSea.png);
};

#p16 {
	background-image: url(../img/linegeo.png);
};

#p17 {
	background-image: url(../img/newhex.png);
};

#p18 {
	background-image: url(../img/newhex2.png);
};

#p19 {
	background-image: url(../img/orangehex.png);
};

#p20 {
	background-image: url(../img/Orangey-Square2.png);
};

#p21 {
	background-image: url(../img/pseudochevron.png);
};

#p22 {
	background-image: url(../img/squares.png);
};

#p23 {
	background-image: url(../img/squares2.png);};

#p24 {
	background-image: url(../img/hexdots.png);
};

#p25 {
	background-image: url(../img/Weird.png);
};

#p26 {
	background-image: url(../img/geo2.png);
};

#p27 {
	background-image: url(../img/envelopes.png);
};

@media screen and (max-width: 400px) {
	#about {
		padding: 20px;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
		line-height: 1.9em;
	}
	#bio {
	padding: 20px;	
	p {
		font-size: 1em;
	}
}
	#mini {
		padding: 10px;
	}
	#container2 {
		p {
		.fa {
		margin: 0 5px 0 5px;
	}
}
}
}

